*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
cmake-build-debug/

# These need hardcoding within them to work, so they're generated with a gradle task instead of manual edits.
**/gl.def
**/linearmaths.def