*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
cmake-build-debug/

src/nativeMain/kotlin/io/github/epicvon2468/kmp_ge/core/Shaders.kt

# These need hardcoding within them to work, so they're generated with a gradle task instead of manual edits.
**/gl.def
**/linearmaths.def
**/kmp_ge.def